version: "3.8"

services:
  api:
    container_name: api
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8080:8080
    env_file:
      - ./.env
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - my-app

  db:
    container_name: db
    image: mongo:6
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo
      MONGO_INITDB_DATABASE: api
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
    networks:
      - my-app
    restart: always
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

networks:
  my-app:
    driver: bridge
